body{
  font-weight: bold;
  font-family:sans-serif;

  }
.container{
  display:show;
  background-image: url("../img/abstract.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.answer{
  display:none;
}
.jumbotron {
    margin-bottom: 0px;
    height:280px;
    background-image: url(../img/javascript.jpeg);
    background-position: 0% 48%;

    background-size: cover;
    background-repeat: no-repeat;
    color: yellow;
    text-shadow: black 0.9em 0.9em 0.9em;
}
.jumbotron h4{
  text-decoration: underline;
}
ol{
  list-style-position:inside;
}
input{
  text-align: center;
}
.answer p{
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.answer h2{
  color: DarkBlue;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
